# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
venv/
.venv/

# Databricks
.databricks/
*.dbc
.databrickscfg        # Databricks CLI auth config — contains token, NEVER commit this


# Secrets - NEVER commit these
*.pem
*.key
secrets.json
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
